<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="Salesforce.ServerBasePath" value="" xdt:Transform="Insert"/>
        <add key="Salesforce.AdminEmail" value="" xdt:Transform="Insert"/>
        <add key="ManyWho.SendAlerts" value="true" xdt:Transform="Insert"/>
        <add key="ManyWho.SendGrid.ServerBasePath" value="" xdt:Transform="Insert"/>
        <add key="ManyWho.SendAlertFromEmail" value="" xdt:Transform="Insert"/>
        <add key="ManyWho.SendGrid.Username" value="" xdt:Transform="Insert"/>
        <add key="ManyWho.SendGrid.Password" value="" xdt:Transform="Insert"/>
        <add key="ManyWho.SendGrid.SMTP" value="" xdt:Transform="Insert"/>
        <add key="ManyWho.CDNBasePath" value="https://cdn.manywho.com" xdt:Transform="Insert"/>
    </appSettings>
</configuration>
